
<div  class="container-fluid">
 
  
  <!--primera plana-->

<h3 class="text-warning"> % Fritos en ventas</h3>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#año1" aria-expanded="false" aria-controls="año1" >2017</button>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#año2" aria-expanded="false" aria-controls="año2" >2018</button>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#año3" aria-expanded="false" aria-controls="año3" >2019</button>
<div class="row-md-8">
  <div class="col-lg-12">
    <div class="collapse multi-collapse" id="año1">
       <div id="piechart" style="width: 900px; height: 500px;"></div>
           </div>
  </div>
  <div class="col-lg-14">
    <div class="collapse multi-collapse" id="año2">
       <div id="piechart1" style="width: 900px; height: 500px;"></div>
           </div>
  </div>
  <div class="col-lg-16">
    <div class="collapse multi-collapse" id="año3">
       <div id="piechart2" style="width: 900px; height: 500px;"></div>
           </div>
  </div>

</div>
<!--   fin del pie --->
<!--   segunda plana --->
<h3 class="text-primary"> Ventas totales vs costos totales</h3>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#vs" aria-expanded="false" aria-controls="vs" >grafica</button>
  <div class="row-md-10"> 
    <div class="col-lg-16">
    <div class="collapse" id="vs"> 
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </div>
</div>
   </div>   
<!--   fin de la grafica --->
<!--   tercera plana --->




</div>
<div class="container-fluid">
  <h3 class="text-warning"> Ventas por dia</h3>
<button class="btn btn-warning" type="button"  >Lunes</button>
 <div  id="chart_div_lu" style="width: 900px; height: 500px"></div>
 <hr>
 
<button class="btn btn-warning" type="button"  >Martes</button>
<div id="chart_div_ma" style="width: 900px; height: 500px"></div>
<hr>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#mie" aria-expanded="true" aria-controls="mie" >Miercoles
</button>
<div  id="chart_div_mi" style="width: 900px; height: 500px"></div>
 <hr>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#jue" aria-expanded="true" aria-controls="jue" >Jueves</button>
<div  id="chart_div_ju" style="width: 900px; height: 500px"></div>
 <hr>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#vie" aria-expanded="true" aria-controls="vie" >Viernes
</button>
<div  id="chart_div_vi" style="width: 900px; height: 500px"></div>
 <hr>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#sab" aria-expanded="true" aria-controls="sab" >Sabado</button>
<div  id="chart_div_sa" style="width: 900px; height: 500px"></div>
 <hr>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#dom" aria-expanded="true" aria-controls="dom" >Domingo</button>
 <div  id="chart_div_do" style="width: 900px; height: 500px"></div>
 <hr>
    
    
  
     